body {
    background-image: url(img/Fundos/Sidebar/sidebar-tamanho-grande.png);
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    padding: 20px;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

.sidebar-login {
    display: block;
    position: fixed;
    height: 100%; 
    width: 250px;
    top: 25%;
    left: 0;
    padding-top: 150px;
    margin-left: 80px;
    
}

.sidebar-login-text {
    display: flex;
    color: #fffff1;
    text-shadow: -2px -2px 0 #3a3a27, 2px -2px 0 #3a3a27, -2px 2px 0 #3a3a27, 2px 2px 0 #3a3a27;
    text-align: center;
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 1.4;
    margin-bottom: 40px;
    max-width: 250px;
}

.btns-login {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    align-items: center;
}

.btn {
    display: block;
    width: 100%;
    max-width: 350px;
    padding: 12px 20px;
    background-color: #5b6649; 
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1rem;
    border: none;
    cursor: pointer;
}

.btn-loginext {
    width: 100%;
    max-width: 350px;
    padding: 12px 20px;
    background-color: #ffffff; 
    color: #000000;
    text-decoration: none;
    font-size: 1.1rem;
    border: none;
    cursor: pointer;
}

.btn:hover {
    background-color: #6c7957;
}

.Quadro-login {
    display: block; 
    position: absolute;
    background-image: url(img/Fundos/Quadrado/Quadrado-tamanho-grande.png);
    width: 75%;
    height: 95vh;
    border-radius: 30px 0 0 0;
    right: 0;
    bottom: 0;
}

.Quadro-login-page{
    display: block; 
    position: absolute;
    left: 0;                  
    right: 0;                
    margin-left: auto;        
    margin-right: auto; 
    text-align: center; 
    align-items: center;  
    bottom: 0;
    width: 70%;
    height: 95vh;
    background-image: url(img/Fundos/Quadrado/Quadrado-tamanho-grande.png);
    border-radius: 30px 30px 0 0;
}


.Quadro-login img {
    position: absolute;
    max-width: 500px;
    height: auto; 
    border-radius: 25px;
    border-style: solid;
    border-color: #ffffff;
}

.photo-login-1 {
    top: 100px;  
    left: 150px;
}

.photo-login-2 {
    bottom: 100px;  
    right: 150px;
}

.logo-menu-login {
    position: absolute;
    top: 0;
    max-width: 250px;
}

.active-login .Quadro-login{
    display: block; 
    position: absolute;
    left: 0;                  
    right: 0;                
    margin-left: auto;        
    margin-right: auto; 
    text-align: center; 
    align-items: center;  
    bottom: 0;
    width: 70%;
    height: 95vh;
    background-image: url(img/Fundos/Quadrado/Quadrado-tamanho-grande.png);
    border-radius: 30px 30px 0 0;
}

.active-login .Quadro-login img {
    position: relative;
    max-width: 500px;
    margin-bottom: 30px;
    height: auto;
    border: none;
}

.caixapersonalizada{
    border-radius: 20px;
    box-shadow: none;
}

.Quadro-registo{
    display: block; 
    position: absolute;
    left: 0;                  
    right: 0;                
    margin-left: auto;        
    margin-right: auto; 
    text-align: center; 
    align-items: center;  
    bottom: 0;
    width: 70%;
    height: 95vh;
    background-image: url(img/Fundos/Quadrado/Quadrado-tamanho-grande.png);
    border-radius: 30px 30px 0 0;
}

.Quadro-registo img {
    position: relative;
    max-width: 500px;
    margin-bottom: 30px;
    height: auto;
    border: none;
}

.container-sucesso{
    border-radius: 30px;
    background-image: url(img/Fundos/Sucesso/Sucesso-tamanho-grande.png);
    color: #ffffff;
    max-width: 55%;
    margin-top: 10%;
    min-height: 300px;
    align-content: center;
}